.fighterList {
    display: flex;
    flex-wrap: wrap; /* Ensures items wrap to the next row if needed */
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .fighterItem {
    margin-right: 20px; /* Adjust spacing between items as needed */
    margin-bottom: 20px; /* Add margin bottom for spacing between rows */
    flex: 1 0 300px; /* Ensure items are flexible and have a max width */
    max-width: 300px; /* Adjust max-width as needed */
    text-align: center;
  }
  
  .fighterItem img {
    width: 100%;
    border-radius: 5px; /* Optional: Adds rounded corners to the image */
  }
  
  .fighterName {
    position: absolute;
    top: 10px; /* Adjust positioning of the name */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7); /* Optional: Adds a semi-transparent background */
    padding: 5px 10px; /* Optional: Adds padding around the name */
    border-radius: 5px; /* Optional: Adds rounded corners to the name container */
    z-index: 1; /* Ensure the name appears above the image */
  }
