.fighterList {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.fighterItem {
    margin-right: 20px; /* Adjust spacing between items as needed */
}

